ul{
    position: relative;
}
ul li{
    display: inline-block;
}
ul li a{ 
    text-decoration: none;
    size: 30px;
    color:white;
    margin-left:10px;
    list-style: none;
}

ul li a:hover{
    color:black;
}
ul li ol{
    display: none;
}
ul li:hover ol{
    position:absolute;
    display:block;
    background-color: white;
    text-align: left;
    color:black;
}